@import "../../styles/variables";
@import url("https://use.typekit.net/bsf1heu.css");


.main-content {
    background-color: $background_color;

    .container-flex {
        width: 80%;
        height: 100%;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr auto;

        .select-period {
            background-color: salmon;
        }
    }
}