@import "../../styles/variables";

.main {
    background-color: $background_color;

    .container-flex-tracking {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;

    }
}