@import "../../styles/variables";
@import url("https://use.typekit.net/bsf1heu.css");
.main {
    
  background-color: $background_color;
}
.container-back{
    display: flex;
    flex-wrap: wrap;
    padding-left: 39px;
    padding-top: 39px;
    height: 70px;
    flex-direction: column; /*This solves everything*/


}

#back-text{
    color:#777777;
    padding-top: 4px;
    font-family: proxima-nova, sans-serif;
    // width: 90px;
    height: 70px;

}

.container-planning{
    display: flex;
}
.container-block{
    display: block;
}

.teste{
    padding-left: 39px;
    padding-top: 154px;

  
   
}