@import "../../styles/variables";

.container-competitors {
  padding-left: 55px;
  max-height: 100%;
  overflow-y: scroll;

  .container-back {
    display: flex;
    padding-top: 39px;
    height: 70px;
    width: 100%;
    flex-direction: row;

    button {
      background-color: Transparent;
      border: none;
      outline: none;
      margin: 0 10px 0 0;
    }

    #back-text {
      color: #777777;
      padding-top: 4px;
      padding-right: 300px;
      font-family: proxima-nova, sans-serif;
    }
  }
  
  .competitors-title {
    margin-top: 50px;
  }

  .defaultButton {
    width: auto;
  }
  .container-step {
    padding-top: 350px;
  }

  form {
    label {
      width: 146px;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #636f7a;
      margin-bottom: 0;
    }
    select {
      background: #ffffff;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      height: 48px;
      width: 236px !important;
      box-shadow: 0px 1px 2px #23282d14;
      border: 1px solid #dbe1e5;
      border-radius: 8px;
      opacity: 1;
      color: $font_color-light;

      &:active,
      &:hover,
      &:visited,
      &:focus {
        border: 1px solid #dbe1e5;
      }
    }
  }

  .container-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 21px 0;
    button {
      border: none;
      background-color: transparent;
    }

    .pagination-info{
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-input{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        p{
          margin: 0;
          color: #B8C2CB;
          font-size: 14px;
        }

        input {
          text-align: center;
          width: 40px;
          color: #707070;
          margin: 0 5px; 
          border: 1px solid #B8C2CB ;

          &:focus{
            outline: none;
          }
      }
      }
    }
  }

  table {
    width: 100%;
    margin-top: 50px;
    table-layout: fixed;
    tr th {
      font-size: 13px;
    }
    tr td {
      font-size: 14px;
      padding: 15px 10px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(128, 128, 128, 0.253);
      a {
        font-size: 11px;
        text-align: left;
        font: normal normal medium 9px/20px Proxima Nova;
        letter-spacing: 0.16px;
        color: #414141;
        text-decoration: underline;
      }
    }
  }

  .container-send-button {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
