.card {
    width: 288px;
    height: 140px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #0000001A;
    border-radius: 8px;
    opacity: 1;
    // display: flex;
    // flex-direction: column;

    h4 {
        top: 167px;
        left: 321px;
        width: 100%;
        padding: 5px;
        height: 20px;
        text-align: left;
        font: normal normal bold 16px/20px Proxima Nova;
        letter-spacing: 0.29px;
        color: #414141;

    }

    .tracking-header-card {
        display: grid;
        grid-template-columns: 1fr auto;

        span {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 15px;
            box-shadow: 0px 1px 2px #0303031A;
            border: 1px solid #DBE1E5;

            width: 162px;
            height: 45px;
            position: relative;
            bottom: 75px;
            display: none
        }

        span:after {
            content: "";
            display: block;
            width: 0;
            height: 0;

            position: absolute;

            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #FFFFFF;

            bottom: -20px;
            left: 20%;
        }

        a {
            color: #000;
            display: inline-block;

        }

        a:hover,
        a:hover span {
            color: #9A1A4A;
            display: block;


        }
    }

    .points {
        top: 191px;
        left: 321px;
        width: 100%;
        height: 70px;
        text-align: left;
        letter-spacing: 0px;
        color: #8995A0;
        opacity: 1;
        display: flex;
        flex-direction: row;
        padding: 5px;
    }

    .progressBar {
        width: 90%;
        border-radius: 8px;
        background-color: #EFEFEF;
        height: 10px;

        .percentageItem {
            background-color: #00A648;
            height: 10px;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
        }
    }

}