.modal-main {
  position: fixed;
  // /* Stay in place */
  z-index: 100;
  // /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  background-color: rgb(0, 0, 0);
  // /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    margin: 0 auto;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    width: 548px;
    height: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

    .center-modal {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 30px;
    }

    .header-top {
      margin-right: 15px;
      margin-top: 5px;

      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .modal-footer {
      text-align: center;
      border: 0;

      .modal-title {
        font-size: 22px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0px;
        color: #23282D;
        margin: 0 auto;
      }

      .modal-subtitle {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #636F7A;
        margin: 0 auto;
      }

    }

  }
}