@import "../../styles/variables";

.container-inputlabel {
  width: 100%;
  margin-top: 30px;

  label {
    text-align: left;
    width: 140px;
    height: 18px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #636F7A;
  }

  .container-input-icon {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    box-shadow: 0px 1px 2px #23282D14;
    border: 1px solid #DBE1E5;
    border-radius: 8px;
    opacity: 1;


    &:active,
    &:hover,
    &:visited,
    &:focus {
      border:1px solid #DBE1E5;
    }


    .input {
      text-align: left;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      letter-spacing: 0px;
      color: #8995A0;
      opacity: 1;
      width: 85%;
      color: $font_color;
      font-weight: bold;
      border: none;
      outline: 0;

      .container-input-icon+&:focus {
        border: solid 1.5px red;
      }

    }

    img {
      width: 20px;
      cursor: pointer;
    }
  }
}