@import "../../styles/variables";

.user-information {
  padding: 62px;
  p {
    padding-top: 57px;

    font-size: 32px;
    font-weight: 600;
    color: #23282d;
  }
}
.login-information {

  width: 50%;
  height: 100vh;
  background-color: #ffffff;
}
.background-information {
  background-color: #f1f5f8;
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
}

.containerImage {
  padding-top: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  padding-top: 57px;
  padding: 62px;
}
.box-button {
  display: flex;
  padding-left: 307px;
}

.container{
  padding-left: 0px;
  margin-top: -50px;
}


